h1{
    color: aquamarine;
    text-align: center;
    font-size: 50px;
}
h3{
    color: rgb(28, 168, 166);
    text-align: center;
    font-size: 30px;
}
body{
    background-image: url(phone_siteh.jpg);
    background-size: cover;
}
p{
    color: rgb(21, 145, 154);
    text-align: center;
    font-size: 40px;
}
img{
    width: 561px;

}
.Buydeadcells{
    text-decoration: none;
    color: rgb(18, 208, 221);
    font-size: 53px;
    border: 0px solid rgb(27, 59, 177);
    padding: 6px;
    background: linear-gradient(#0e0c49,#110e62,#171377,#221ccd);
    border-color: linear-gradient(#0e0c49,#110e62,#171377,#221ccd);
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 75%;
    grid-template-columns: 1fr 1fr;
}